#cel20 {
  width: 20%; 
  word-break: break-all;
  word-wrap: break-word;
}
#cel10 {
  width: 10%; 
  word-break: break-all;
  word-wrap: break-word;
}
#cel20 {
  width: 15%; 
  word-break: break-all;
  word-wrap: break-word;
}
#cel5{
 width: 5%; 
  word-break: break-all;
  word-wrap: break-word;	
}
#cel1{
 width: 5%; 
  word-break: break-all;
  word-wrap: break-word;	
}